{% extends "website/main.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<main>
    <section class="third__sectop">
        <div class="container">
            <h1 class="text-center">About Us </h1>
            <div class="col-lg-12 " >
               <div class="row">
                <div class="col-lg-6 aboutus_cont">
                    <div>
                        <p>
                            In 1993, a community in Nottingham, moved by the devastation of the Bosnian war, sprang into action. A small group of volunteers began collecting money, clothes and medicine for the people of Bosnia.
                        </p>
                        <p>
                            Muslim Hands, an international aid agency and NGO, grew from this grass roots movement and since these first efforts, we have responded to countless more emergencies, as well as establishing long term projects such as schools, healthcare clinics and livelihood programmes worldwide.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 aboutus_cont">
                    <div>
                        <p>
                            We are working in over 30 countries around the world. By working closely with our partners and offices on the ground, we are able to distribute aid in an effective, efficient, transparent and wholly accountable manner and to make a lasting difference to the communities we work with.
                        </p>
                        <p>
                            Dedicated to tackling the root causes of poverty around the world, Muslim Hands is passionate about working beyond the provision of immediate relief, towards supporting communities over the long-term.
                        </p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
    <section class="third__sectop">
        <div class="container">
            <h1 class="text-center">Since 1993 Muslim Hands has:</h1>
            <div class="col-lg-12 mt-40" >
               <div class="row">
                <div class="col-lg-4">
                    <div class="aboutus__since">
                        <img class="aboutus__extimg" src="{% static 'images/icons8-pound-64.png' %}" alt="">
                    
                    <h2>
                        Raised over £200 million
                    </h2>
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="aboutus__since">
                        <img src="{% static 'images/icons8-group-of-people-100.png' %}" alt="">
                    
                    <h2>
                        Sponsored over 50,000 orphans
                    </h2>
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="aboutus__since">
                        <img src="{% static 'images/icons8-water-hose-100.png' %}" alt="">
                    
                    <h2>
                        Provided over 2.5 million people with clean water
                    </h2>
                </div>
                </div>
               </div>
            </div>
        </div>
    </section>
    <section class="third__sectop">
        <div class="container">
            <h1 class="text-center">Our Vision </h1>
            <div class="col-lg-12 " >
               <div class="row">
                <div class="col-lg-6 aboutus_cont">
                    <div>
                        <p>
                            Inspired by the values of our faith, Muslim Hands is working towards tackling the root causes of poverty and creating a fairer world for everyone. We believe that every human being has the right to an education, access to clean water and food and the means to support themselves, their family and their community.
                        </p>
                        <p>
                            This is why Muslim Hands strives to empower people for the long-term, rather than just providing immediate relief.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 aboutus_cont">
                    <div>
                        <p>
                            We approach each situation on a case by case basis, with a view to finding appropriate and sustainable solutions. Our projects have already made a huge impact, showing how our donors can make a real difference.
                        </p>
                        <p>
                            At Muslim Hands we provide an impartial, efficient and wholly transparent service that ensures your donations reach the people that really need them.
                        </p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}