{% extends "website/main.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<main>
    <section class="third__sectop">
        <div class="container">
            <h1 class="text-center">About Us </h1>
            <div class="col-lg-12 " >
               <div class="row">
                <div class="col-lg-6 aboutus_cont">
                    <div>
                        <p>
                            At Muslim Hands Mirpur, we are deeply committed to serving the local community and making a lasting impact in Azad Kashmir. Inspired by Islamic values of compassion and generosity, we work tirelessly to address the needs of the most vulnerable in our community.                        </p>
                        <p>
                            Our programs focus on a wide range of areas including education, healthcare, livelihood support, environment and emergency relief. Whether it's providing access to quality education for underprivileged children, offering essential healthcare services to those in need, or assisting families in generating sustainable income opportunities, Muslim Hands is dedicated to empowering individuals and our communities to overcome challenges and build a better future.                        </p>
                    </div>
                </div>

                <div class="col-lg-6 aboutus_cont">
                    <div>
                        <p>
                            Through the support of our donors, volunteers, and partners, we strive to create positive change and uplift the lives of those facing hardship and adversity in Azad Kashmir. Together, we are making a difference and bringing hope to those who need it most. Join us in our mission to create a brighter, more prosperous future for the people of Azad Kashmir.                         </p>
                        <p>
                            Dedicated to tackling the root causes of poverty around the world, Muslim Hands is passionate about working beyond the provision of immediate relief, towards supporting communities over the long-term.
                        </p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
    <section class="third__sectop">
        <div class="container">
            <h1 class="text-center">Since 1993 Muslim Hands has:</h1>
            <div class="col-lg-12 mt-40" >
               <div class="row">
                <div class="col-lg-4">
                    <div class="aboutus__since">
                        <img class="aboutus__extimg" src="{% static 'images/icons8-pound-64.png' %}" alt="">
                    
                    <h2>
                        Raised over £200 million
                    </h2>
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="aboutus__since">
                        <img src="{% static 'images/icons8-group-of-people-100.png' %}" alt="">
                    
                    <h2>
                        Sponsored over 50,000 orphans
                    </h2>
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="aboutus__since">
                        <img src="{% static 'images/icons8-water-hose-100.png' %}" alt="">
                    
                    <h2>
                        Provided over 2.5 million people with clean water
                    </h2>
                </div>
                </div>
               </div>
            </div>
        </div>
    </section>
    <section class="third__sectop">
        <div class="container">
            <h1 class="text-center">Our Vision </h1>
            <div class="col-lg-12 " >
               <div class="row">
                <div class="col-lg-6 aboutus_cont">
                    <div>
                        <p>
                            Inspired by the values of our faith, Muslim Hands is working towards tackling the root causes of poverty and creating a fairer world for everyone. We believe that every human being has the right to an education, access to clean water and food and the means to support themselves, their family and their community.
                        </p>
                        <p>
                            This is why Muslim Hands strives to empower people for the long-term, rather than just providing immediate relief.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 aboutus_cont">
                    <div>
                        <p>
                            We approach each situation on a case by case basis, with a view to finding appropriate and sustainable solutions. Our projects have already made a huge impact, showing how our donors can make a real difference.
                        </p>
                        <p>
                            At Muslim Hands we provide an impartial, efficient and wholly transparent service that ensures your donations reach the people that really need them.
                        </p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}