{% extends "website/main.html" %}
{% load static %}
{% block title %}Allama Iqbal Open University Mirpur{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Allama Iqbal Open University Mirpur</h1>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.7600265177857!2d73.75159288253383!3d33.14166850521961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391feb8d1fa31c53%3A0x21089cb280ccb866!2sAllama%20Iqbal%20Open%20University!5e0!3m2!1sen!2s!4v1707158926199!5m2!1sen!2s"
                    width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p class="text-center fo__24">At Allama Iqbal Open University, the Dean, professors, staff, and students all joined forces to plant 300 shade trees. It was inspiring to see everyone carefully tending to the young saplings, ensuring their protection and growth. This initiative was truly priceless and beautiful.

                    #GreenAIU #PledgeForGreen #GoGreen #MuslimHands #Environment #Health #Pakistan #CleanAndGreenPakistan #SDGs4All Goal 13: Climate Action
                    </p>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/AIOU1.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/AIOU2.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/AIOU3.jpg'%}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/AIOU4.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/AIOU5.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/AIOU6.jpg'%}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}