{% extends "website/main.html" %}
{% load static %}
{% block title %}Allama Iqbal Road{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Allama Iqbal Road</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.4808904682027!2d73.73381217552055!3d33.14899987351054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fec170f6c8b05%3A0x1195b0e661fa44c3!2sAllama%20Iqbal%20Rd%2C%20Mirpur!5e0!3m2!1sen!2s!4v1706855285151!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">Muslim Hands has completed a successful plantation f 300 shade trees along Allama Iqbal Road. 
                    The selected shade trees are known for their broad canopies and durability, ensuring long-term benefits for residents of Mirpur. This effort is part of our ongoing commitment to environmental sustainability and creating greener urban spaces.
                    We thank all volunteers and partners for their invaluable support in making this drive a success.
                    </p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/AllamaIqbalRoad.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/AllamaIqbalRoad2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/AllamaIqbalRoad3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/AllamaIqbalRoad4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/AllamaIqbalRoad5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/AllamaIqbalRoad6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}