{% extends "website/main.html" %}
{% load static %}
{% block title %}Benazir Medical College{% endblock %}

{% block content %}
<main>
    <section class="third__sectop">
        <div class="container citygardens">
            <h1 class="text-center">Bankhurma</h1>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.6584358816185!2d73.68511257551924!3d33.11806247352304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391feda5e8ecc57f%3A0x7275f7116e3a2071!2sMohtarma%20Benazir%20Bhutto%20Shaheed%20Medical%20College%2C%20Pakistan!5e0!3m2!1sen!2s!4v1706768639834!5m2!1sen!2s"
                width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p class="text-center fo__24">
                Plantation under climate action program at bankhurma. Muslim hands planted tree with the local youth participating with full enthusiasm. Our Muslim Hands team is partnering with local people to plant trees, supporting eco-friendly practices and community development!
Let's work together and make a positive impact!
🌳🌏✨️💚
#MuslimHandsMirpur #ProtectOurHome #Greenliving #GreenAzadKashmir #sustainablefuture #MuslimHandsPlantation #charity #ServingHumanity #MuslimHands #TreePlantation #CommunityLove #EcoFriendly
            </p>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="overf__2">
                            <img src="{% static 'images/Bankhurma_Mirpur1.JPG' %}"
                                alt="image">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="overf__2">
                            <img src="{% static 'images/Bankhurma_Mirpur2.JPG' %}"
                                alt="image">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="overf__2">
                            <img src="{% static 'images/Bankhurma_Mirpur3.JPG' %}"
                                alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-4">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="overf__2">
                            <img src="{% static 'images/Bankhurma_Mirpur4.JPG' %}"
                                alt="image">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="overf__2">
                            <img src="{% static 'images/Bankhurma_Mirpur5.JPG' %}"
                                alt="image">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="overf__2">
                            <img src="{% static 'images/Bankhurma_Mirpur6.JPG' %}"
                                alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}