{% extends "website/main.html" %}
{% load static %}
{% block title %}Cities Mirpur{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Chapran Village</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.6584358816185!2d73.68511257551924!3d33.11806247352304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391feda5e8ecc57f%3A0x7275f7116e3a2071!2sMohtarma%20Benazir%20Bhutto%20Shaheed%20Medical%20College%2C%20Pakistan!5e0!3m2!1sen!2s!4v1706768639834!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p class="text-center fo__24">Chapran Village is now adorned with 300 shade trees, enriching its natural landscape and promoting environmental sustainability. This initiative, aimed at improving air quality and enhancing the local ecosystem, reflects our commitment to fostering a greener community.</p>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/chapranvilage1.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/chapranvilage2.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="overf__2">
                            <img src="{% static 'images/chapranvilage3.jpg'%}" alt="image">
                           </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/chapranvilage4.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/chapranvilage5.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                           <div class="overf__2">
                            <img src="{% static 'images/chapranvilage6.jpg'%}" alt="image">
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}