{% extends "website/main.html" %}
{% load static %}
{% block title %}Chitterpari Graveyard{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Chitterpari Graveyard	</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.86277973601!2d73.68110495715138!3d33.13896938169068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fedcb19810e01%3A0x2f4b842d10377002!2sChitterpari%20Toll%20Plaza%2C%20Mangla%20Road%2C%20Chitterpari%2C%20Mirpur!5e0!3m2!1sen!2s!4v1706773250520!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">Building on our efforts to elevate our plantation initiatives, Muslim Hands has established the Fruit Orchard Revenue Complex in Chitterpari, AJK. The inauguration ceremony was graced by the presence of many well-known and respected personalities. </p>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/ChitrpariGraveyard1.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/ChitrpariGraveyard2.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/ChitrpariGraveyard3.jpg'%}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/ChitrpariGraveyard4.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/ChitrpariGraveyard5.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/ChitrpariGraveyard6.jpg'%}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}