{% extends "website/main.html" %}
{% load static %}
{% block title %}Cities Mirpur{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
           <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53448.25161340113!2d73.70062248990487!3d33.14808501845756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391feb8b4d030e19%3A0x4ec2b8053d7b1051!2sNew%20Mirpur%20City!5e0!3m2!1sen!2s!4v1707191988284!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="mirpurlist mt-5">
                <table border="2" width="100%">
                    <tr>
                        <th>Location</th>
                        <th>Plants Type</th>
                        <th>Total Gardens</th>
                        <th>Total Plants</th>
                    </tr>
                    <tr>
                        <td><a href="{% url '14_August_Muncipal_Corporation_Plantation_Mirpur' %}">14 August Muncipal Corporation Plantation</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url '14_August_Plantation' %}">14 August Plantation</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Assistant_Commissioner_Islamghar_Mirpur' %}">Assistant Commissioner Islamghar</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Bankhurma_Mirpur' %}">Bankhurma</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Bankhurma_Chapran_Mirpur' %}">Bankhurma Chapran</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Benazir_Medical_College_Plantation_2024Season2_Mirpur' %}">Benazir Medical College Plantation 2024 Season 2</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'C4_Ground_Mirpur' %}">C4 Ground</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Degree_College_Mirpur' %}">Degree College Plantation 2024 Season 2</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'DHO_Mirpur_Fruit_garden' %}">District Health Office Mirpur</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>


                    <tr>
                        <td><a href="{% url 'Benazir_Medical_College_Mirpur' %}">Benazir Medical College</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Benazir_Medical_Collegetwo_Mirpur'%}">Benazir Medical College (2)</a></td>
                        <td>Fruit & Olive Tree</td>
                        <td>2 Fruit + 1 Olive Tree Garden</td>
                        <td>400 Fruit & 1000 Olive Trees</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Opposite_to_Kashmir_Mirpur'%}">Opposite to Kashmir Hilton</a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>400 Fruit Plants</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Chitrpari_Graveyard_Mirpur'%}">Chitterpari Graveyard </a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>300 Fruit Plants</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'DHO_Office_Mirpur'%}">DHO Office </a></td>
                        <td>Fruit</td>
                        <td>2</td>
                        <td>200 Fruit Plants</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'DHO_Officetwo_Mirpur'%}">DHO Office (2) </a></td>
                        <td>Fruit</td>
                        <td>2</td>
                        <td>200 Fruit Plants</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Muncipal_Corporation'%}">Muncipal Corporation </a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>100 Fruit Plants</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'ViewpointPark_Mirpur'%}">Viewpoint Park </a></td>
                        <td>Fruit, Pine, Moringa</td>
                        <td>3</td>
                        <td>200 Fruit, 100 Pine, 100 Moringa </td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Haul_Road_Mirpur'%}">Haul Road </a></td>
                        <td>Pine</td>
                        <td>1</td>
                        <td>50 Pine</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'DHQ_Mirpur'%}">DHQ Mirpur </a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>50 Fruit</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Lehri_Zoo_Park_Mirpur'%}">Lehri Zoo Park</a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>50 Fruit</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Fish_Hechri_Lehri'%}">Fish Hechri Lehri</a></td>
                        <td>Mango</td>
                        <td>1</td>
                        <td>100 Mangoes</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Jarikass_Poultry'%}">Jarikass Poultry</a></td>
                        <td>Mango</td>
                        <td>1</td>
                        <td>100 Mangoes</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Canal_bank_Mirpur'%}">Canal bank</a></td>
                        <td>Guava</td>
                        <td>2</td>
                        <td>100 Guavas</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Girls_Degree_College_Kalyal'%}">Girls Degree College Kalyal</a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>200 Guavas</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'BangrillaCommunityHospital'%}">Bangrilla Community Hospital</a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>100 Fruits</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Islamgarh_Welfare_Trust'%}">Islamgarh Welfare Trust</a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>100 Fruits</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Pilot_School_Mirpur'%}">Pilot School</a></td>
                        <td>Fruit</td>
                        <td>1</td>
                        <td>50 Fruits</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Solid_Waste_Project_Site_Mirpur'%}">Solid Waste Project Site</a></td>
                        <td>Mulberry, Pine</td>
                        <td>1</td>
                        <td>150 Fruits</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Muslim_Hands_Football_Academy_Mirpur'%}">Muslim Hands Football Academy</a></td>
                        <td>Mulberry</td>
                        <td>1</td>
                        <td>150 Mulberries</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'AllamaIqbalRoad'%}">Allama Iqbal Road</a></td>
                        <td>Shades Trees</td>
                        <td>1</td>
                        <td>300 Shades</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'MUST_Uni_Ajk'%}">MUST Main Campuss</a></td>
                        <td>Shades Trees</td>
                        <td>1</td>
                        <td>300 Shades</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Afzalpur_Mirpur'%}">Afzalpur Mirpur</a></td>
                        <td>Shades Trees</td>
                        <td>1</td>
                        <td>300 Shades</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Allama_Iqbal_Open_Uni_Mirpur'%}">Allama Iqbal Open University Mirpur</a></td>
                        <td>Shades Trees</td>
                        <td>1</td>
                        <td>300 Shades</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'MUST_JariKass_Campuss'%}">MUST Jari Kass Campuss</a></td>
                        <td>Shades Trees</td>
                        <td>1</td>
                        <td>300 Shades</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'SectorF4_Mirpur'%}">Sector F4 Mirpur</a></td>
                        <td>Shades Trees</td>
                        <td>1</td>
                        <td>300 Shades</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'Chapran_Village_Mirpur'%}">Chapran Village</a></td>
                        <td>Shades Trees</td>
                        <td>1</td>
                        <td>300 Shades</td>
                    </tr>
                    <tr>
                        <td><a href="{% url 'environment_protection_agency'%}">Environment Protection Agency</a></td>
                        <td>Shades Trees</td>
                        <td>1</td>
                        <td>300 Shades</td>
                    </tr>
                </table>
            </div>
           </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% endblock %}