{% extends "website/main.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<main>
    <section class="third__sectop">
        <div class="container">
            <h1 class="text-center">Contact Us </h1>
            <div class="col-lg-12 contact_us" >
               <div class="row">
                <div class="col-lg-6">
                    <p>Email us <a href="">mhclimateaction1@gmail.com</a></p>
                    <p>For media enquiries <a href="">qamar.atta@pk.mhworldwide.org</a></p>
                    <p>Telephone us on +92 5827 448900</p>
                    <p> Or from abroad dial +92 5827 448900, where the + is your country’s international direct dial
                        prefix.</p>
                    <p> WhatsApp +92 349 4177007</p>
                   <p>
                    <b> Our opening times:</b>
                   </p>
                    <p>
                        <b>
                            Ramadan Reception and Donation line:
                        </b>
                        Monday-Friday 9am to 3pm.
                    </p>
                    <p>
                        <b>Office hours:</b> Mon-Fri 9am to 5pm.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div>
                        <p><b>Nottingham Office (Head Office)</b></p>
                        <p>Muslim Hands, 148 Gregory Boulevard, Nottingham
                            NG7 5JE, United Kingdom.</p>
                        <p><b>Mirpur AJK Office</b></p>
                        <p>Sector B-3, Allama Iqbal Road, Mirpur AJK</p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}