{% extends "website/main.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<main>
    <section class="third__sectop">
        <div class="container">
            <h1 class="text-center">Contact Us </h1>
            <div class="col-lg-12 contact_us" >
               <div class="row">
                <div class="col-lg-6">
                    <p>Email us <a href="">mail@muslimhands.org.uk</a></p>
                    <p>For media enquiries <a href="">media@muslimhands.org.uk</a></p>
                    <p>Telephone us on 0115 911 7222</p>
                    <p> Or from abroad dial +44 115 911 7222, where the + is your country’s international direct dial
                        prefix.</p>
                    <p> WhatsApp +44 (0)7862137222</p>
                   <p>
                    <b> Our opening times:</b>
                   </p>
                    <p>
                        <b>
                            Ramadan Reception and Donation line:
                        </b>
                        Monday-Saturday 9am to 1am, Sunday 10am to 10pm.
                    </p>
                    <p>
                        <b>Office hours:</b> Mon-Fri 9am to 5pm.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div>
                        <p><b>Nottingham Office (Head Office)</b></p>
                        <p>Muslim Hands, 148 Gregory Boulevard, Nottingham
                            NG7 5JE, United Kingdom.</p>
                        <p><b>London Office</b></p>
                        <p>Muslim Hands, 595-597 Commercial Road, London, E1 0HJ</p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}