{% extends "website/main.html" %}
{% load static %}
{% block title %}District Jail Bhimber{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">District Jail Bhimber</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3342.5069418576954!2d73.82847367551818!3d33.09575397353208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391feb22970b718b%3A0x44243c0b603aedfe!2sMirpur%20University%20of%20Science%20and%20Technology%20Jarikhas%20Campus!5e0!3m2!1sen!2s!4v1707159485734!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">Muslim Hands has undertaken a meaningful project at District Jail Bhimber by planting 100 fruit plants. This initiative aims to create a sustainable and productive fruit garden within the facility, providing fresh produce and enhancing the well-being of the inmates. By integrating agricultural practices into the rehabilitation process, this project supports not only nutritional and environmental goals but also offers therapeutic benefits and skill development opportunities. Muslim Hands is committed to fostering positive change and sustainability through such innovative and community-focused efforts.
                </p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/District_Jail_Bhimber1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/District_Jail_Bhimber2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/District_Jail_Bhimber3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/District_Jail_Bhimber4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/District_Jail_Bhimber5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/District_Jail_Bhimber6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}