{% extends "website/main.html" %}
{% load static %}
{% block title %}Environment Protection Agency{% endblock %}

{% block content %}


    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Environment Protection Agency</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.4566308065578!2d73.73656857552056!3d33.14963697351016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fec0f09a5efc1%3A0x661513ee1ebe838f!2sMunicipal%20Corporation%20Mirpur%20AJK!5e0!3m2!1sen!2s!4v1706799351812!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">I am the heat of your hearth on the cold winter nights. The friendly shade screening you from the summer sun, and my fruits are refreshing draughts quenching your thirst as you tourney on".
                    Today was a big day for us. Our community & mother earth.  </p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/environment_protection_agency1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/environment_protection_agency2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/environment_protection_agency3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/environment_protection_agency4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/environment_protection_agency5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/environment_protection_agency6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}