{% extends "website/main.html" %}
{% load static %}
{% block title %}Neelum{% endblock %}

{% block content %}
<main>
    <section class="third__sectop">
       <div class="container">
        <div class="container__3 events">
            <h1 class="text-center">Events</h1>
            <p class="mt-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti sequi ex aliquam officia dolorum debitis, eaque numquam qui nemo nisi recusandae tempore, repudiandae doloribus maiores voluptates? Rerum perspiciatis ratione natus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis voluptatum ab distinctio ratione tenetur amet ut nam quo impedit non. Quidem vel totam culpa veritatis tempore, ducimus earum aliquam asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt assumenda est voluptates, repellat, impedit aspernatur neque vitae aliquid omnis, illum unde eaque voluptatem molestiae ullam praesentium quo saepe laborum sequi!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste non minima placeat necessitatibus magnam ipsam quaerat laudantium, sint cupiditate quibusdam harum vel libero tempore odio eius quos voluptatum reiciendis omnis.
            </p>
            <div class="card mt-5">
                <img src="{% static 'images/360_F_446095183_wTj67VK4PAPnV6dL30gcYP6gqXGOs6n6.jpg' %}"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente saepe fugiat dolor, similique facere aut necessitatibus accusamus labore dolores doloremque illo iusto, perferendis aperiam quae, alias nisi. Eos, fugiat ipsa.</p>
                    
                </div>
            </div>
        </div>
       </div>
    </section>
</main>
{% endblock %}