{% extends "website/main.html" %}
{% load static %}
{% block title %}Neelum{% endblock %}

{% block content %}
<main id="garden">
    <section class="parent__sec">
        <section class="gard2__sect third__sectop bgg__common">
            <h1 class="text-center">Achievements</h1>
            <div class="container">
                <div class="gardenpics mt-5">
                    <div class="gardenpics__top">
                        <div class="gardenpics__topimg">
                            <img src="{% static 'images/WhatsApp Image 2024-06-30 at 15.28.14_3e66f6ec.jpg'%}" alt="">
                        </div>
                        <div class="gardenpics__topimg">
                            <img src="{% static 'images/WhatsApp Image 2024-06-30 at 15.28.15_8fb0afc3.jpg'%}" alt="">
                        </div>
                    </div>
                    <div class="gardenpics__top">
                        <div class="gardenpics__topimg">
                            <img src="{% static 'images/WhatsApp Image 2024-06-30 at 15.28.15_ce143aeb.jpg'%}" alt="">
                        </div>
                        <div class="gardenpics__topimg">
                            <img src="{% static 'images/WhatsApp Image 2024-06-30 at 15.28.15_51487e73.jpg'%}" alt="">
                        </div>
                        {% comment %} <div class="gardenpics__topimg">
                            <img src="{% static 'images/Rectangle 20.jpg'%}" alt="">
                        </div>
                        <div class="gardenpics__topimg">
                            <img src="{% static 'images/Rectangle 21.jpg'%}" alt="">
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </section>
        <section class="gard1__sect">
            <div class="container">
                <p class="text-center fo__24">In the year 2020, Muslim Hands Mirpur, a charitable organization,
                    established a thriving Moringa tree garden in Viewpoint Park Mirpur. This garden boasts an
                    impressive collection of over 250 Moringa trees, which have now reached full maturity.</p>
            </div>
        </section>
    </section>
    <section>
        <div class="garenbenefit">
            <div class="container">
                <h1 class="text-center mb-4">
                    Benefits of Moringa Powder
                </h1>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 mt-2">
                            <div class="card">
                                <ul>
                                    <li>Increased Mental Clarity</li>
                                    <li>Normalizes Blood Sugar</li>
                                    <li>Appetite Suppressant</li>
                                    <li>Antioxidant</li>
                                    <li>Anti-inflammatory</li>
                                    <li>Strengthens Immune System</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-2">
                            <div class="card">
                                <ul>
                                    <li>Enhances Skin Health</li>
                                    <li>Anti-Cholesterol</li>
                                    <li>UTI</li>
                                    <li>Improves Digestion</li>
                                    <li>Increased Mental Clarity</li>
                                    <li>Reduces Wrinkles/Age Lines</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-2">
                            <div class="card">
                                <ul>
                                    <li>Normalizes Blood Pressure</li>
                                    <li>Anti-depressant</li>
                                    <li>46 anti-oxidants</li>
                                    <li>36 anti-inflammatories</li>
                                    <li>18 amino acids</li>
                                    <li>Fungal</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="moringa__packet mtt-50 mb-5">
        <div class="container">
            <img src="{% static 'images/2b87576221703f7a4d6252a35faf8d7d.png'%}" alt="">
        </div>
    </div>
    <section class="garenbenefit" >
        <h1 class="text-center ">
            Homemade Organic Pickle
        </h1>
        <div class="gardenbackgirl position-relative ">
            <div class="left">
                <div class="overf__3">
                    <img src="{% static 'images/WhatsApp Image 2024-05-24 at 15.04.12_56f18bcd.jpg'%}" alt="">
                </div>
            </div>
            <div class="right">
                <div class="gardenbackgirl__content">
                    <ul>
                        <li>
                            Muslim Hands is working towards nurturing sustainable development and community empowerment. Our organic fruit projects involves planting organic lemon in our gardens. 
                        </li>
                        <li>
                            We distribute these fruits to local women, who then create delicious organic homemade pickles. This initiative not only offers a wholesome organic product to our community but also gives these women a vital source of income.
                        </li>
                        <li>
                            By teaching them how to produce and sell their own pickles, we're helping them build sustainable livelihoods. This project embodies our commitment to environmental repairment and women's empowerment, making a real, positive difference in our community.                        </li>
                    </ul>
                </div>
            </div>

        </div>
        {% comment %} <div class="moringa__packet mtt-50">
            <img src="{% static 'images/9278a4544963c625a60e2682dbbe7a4d.png'%}" alt="">
        </div> {% endcomment %}
    </section>
    <section class="garenbenefit">
        <h1 class="text-center ">
            Lemon Garden
        </h1>
        <div class="gardenbackgirl ">
            <div class="left">
                <div class="gardenbackgirl__content">
                    <ul>
                        <li>
                            Organic lemons boast high levels of antioxidants, promoting overall health and fighting oxidative stress.

                        </li>
                        <li>
                            Grown without synthetic pesticides, organic lemons offer a cleaner alternative for consumers concerned about pesticide residues.
                        </li>
                        <li>
                            With fewer pesticides used, organic lemons minimize chemical exposure, supporting a healthier environment and ecosystem.
                        </li>
                        <li>
                            Organic lemons contain higher levels of essential nutrients like vitamin C, supporting immune function and skin health.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="overf__3">
                    <img src="{% static 'images/lemongardenssss.jpg'%}" alt="">
                </div>
            </div>
        </div>
        
    </section>
    <section class="garenbenefit">
        <h1 class="text-center ">
            Samar Project
        </h1>
        <div class="gardenbackgirl">
            <div class="left">
                <div class="overf__3">
                    <img src="{% static 'images/WhatsApp Image 2024-07-03 at 12.26.23_ebc0ca29.jpg'%}" alt="">
                </div>
            </div>
            <div class="right">
                <div class="gardenbackgirl__content">
                    <ul>
                        <li>
                            Muslim Hands Mirpur, through its 'Samar' plantation campaign, initiated the planting of fruit trees in Mirpur during spring season. The primary objective of this project was to strengthen the fruit economy in the region while simultaneously promoting the development of a cottage industry for fruit products. 
                        </li>
                        <li>
                            Organically grown food is rich in nutrients such as Vitamin C, iron, magnesium, and phosphorus, and has less exposure to nitrates and pesticide residues compared to conventionally grown fruits. Over the next 4 to 5 years, as these fruit trees begin to bear fruit, the project aims to provide significant livelihood opportunities to the local community, therefore contributing to sustainable economic growth.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="moringa__packet mtt-50">
            <div class="container">
                <img src="{% static 'images/6f1dfd05b55d665b466c416fcd2d9720.png'%}" alt="">
            </div>
        </div>
    </section>
</main>
{% endblock %}