{% extends "website/main.html" %}
{% load static %}
{% block title %}Neelum{% endblock %}

{% block content %}
<main id="garden">
    <section class="parent__sec">
        <section class="gard2__sect third__sectop bgg__common">
            <h1 class="text-center">Achievements</h1>
            <div class="gardenpics mt-5">
                <div class="gardenpics__top">
                    <div class="gardenpics__topimg">
                        <img src="{% static 'images/Rectangle 16.jpg'%}" alt="">
                    </div>
                    <div class="gardenpics__topimg">
                        <img src="{% static 'images/Rectangle 17.svg'%}" alt="">
                    </div>
                </div>
                <div class="gardenpics__top">
                    <div class="gardenpics__topimg">
                        <img src="{% static 'images/Rectangle 18.jpg'%}" alt="">
                    </div>
                    <div class="gardenpics__topimg">
                        <img src="{% static 'images/Rectangle 19.svg'%}" alt="">
                    </div>
                    <div class="gardenpics__topimg">
                        <img src="{% static 'images/Rectangle 20.jpg'%}" alt="">
                    </div>
                    <div class="gardenpics__topimg">
                        <img src="{% static 'images/Rectangle 21.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="gard1__sect">
            <div class="container">
                <p class="text-center fo__24">In the year 2020, Muslim Hands Mirpur, a charitable organization,
                    established a thriving Moringa tree garden in Viewpoint Park Mirpur. This garden boasts an
                    impressive collection of over 250 Moringa trees, which have now reached full maturity.</p>
            </div>
        </section>
    </section>
    <section>
        <div class="garenbenefit bg-white">
            <div class="container">
                <h1 class="text-center mb-4">
                    Benefits of Moringa Powder
                </h1>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 mt-2">
                            <div class="card">
                                <ul>
                                    <li>Increased Mental Clarity</li>
                                    <li>Normalizes Blood Sugar</li>
                                    <li>Appetite Suppressant</li>
                                    <li>Antioxidant</li>
                                    <li>Anti-inflammatory</li>
                                    <li>Strengthens Immune System</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-2">
                            <div class="card">
                                <ul>
                                    <li>Enhances Skin Health</li>
                                    <li>Anti-Cholesterol</li>
                                    <li>UTI</li>
                                    <li>Improves Digestion</li>
                                    <li>Increased Mental Clarity</li>
                                    <li>Reduces Wrinkles/Age Lines</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 mt-2">
                            <div class="card">
                                <ul>
                                    <li>Normalizes Blood Pressure</li>
                                    <li>Anti-depressant</li>
                                    <li>46 anti-oxidants</li>
                                    <li>36 anti-inflammatories</li>
                                    <li>18 amino acids</li>
                                    <li>Fungal</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="moringa__packet mtt-50">
        <img src="{% static 'images/2b87576221703f7a4d6252a35faf8d7d.png'%}" alt="">
    </div>
    <section>
        <div class="gardenbackgirl position-relative mtt-50">
            <div class="left">
                <div class="overf__3">
                    <img src="{% static 'images/lemon.jpg'%}" alt="">
                </div>
            </div>
            <div class="right">
                <div class="gardenbackgirl__content">
                    <ul>
                        <li>
                            Muslim Hands not only supports reforestation efforts but also empowers
                            individuals by
                            creating personalized web pages. Thanks to our assistance, many now earn income
                            through
                            our developed websites, contributing to sustainable livelihoods.
                        </li>
                        <li>
                            Their hard work has paved the way for harnessing the extraordinary benefits of
                            Moringa
                            offering nutrient-rich Moringa powder for improving health. This initiative not
                            only
                            supports a healthy lifestyle but also contribute to the community empowerment,
                            sustainable agriculture brighter future for all.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="moringa__packet mtt-50">
            <img src="{% static 'images/9278a4544963c625a60e2682dbbe7a4d.png'%}" alt="">
        </div>
    </section>
    <section>
        <div class="gardenbackgirl mtt-50">
            <div class="left">
                <div class="gardenbackgirl__content">
                    <ul>
                        <li>
                            Muslim Hands Mirpur, a charitable organization, has taken a proactive step
                            towards promoting
                            sustainable gardening practices by establishing two lemon gardens in
                            Viewpoint Park Mirpur
                            and one in Hilton. These gardens collectively boast more than 200 fully
                            grown organic lemon
                            (lime) plants, meticulously planted and nurtured by the organization itself.

                        </li>
                        <li>
                            The cultivation
                            of these lemons has been entirely fertilizer-free, ensuring that the produce
                            remains both
                            healthy and eco-friendly.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="overf__3">
                    <img src="{% static 'images/f7355834d875c6eb9e9332e3484dcffb.png'%}" alt="">
                </div>
            </div>
        </div>
        <div class="moringa__packet mtt-50">
            <img src="{% static 'images/6f1dfd05b55d665b466c416fcd2d9720.png'%}" alt="">
        </div>
    </section>
    <section>
        <div class="gardenbackgirl mtt-50">
            <div class="left">
                <div class="overf__3">
                    <img src="{% static 'images/2482e7882b63100524fc1ecb98abb384.png'%}" alt="">
                </div>
            </div>
            <div class="right">
                <div class="gardenbackgirl__content">
                    <ul>
                        <li>
                            Muslim Hands Mirpur, through its 'Samar' plantation campaign, initiated the planting of fruit trees in Mirpur during spring season. The primary objective of this project was to strengthen the fruit economy in the region while simultaneously promoting the development of a cottage industry for fruit products. 
                        </li>
                        <li>
                            Organically grown food is rich in nutrients such as Vitamin C, iron, magnesium, and phosphorus, and has less exposure to nitrates and pesticide residues compared to conventionally grown fruits. Over the next 4 to 5 years, as these fruit trees begin to bear fruit, the project aims to provide significant livelihood opportunities to the local community, therefore contributing to sustainable economic growth.
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
</main>
{% endblock %}