{% extends "website/main.html" %}
{% load static %}
{% block title %}irls Degree College Kalyal{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Girls Degree College Kalyal</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.4457352739937!2d73.72489448253626!3d33.14992310520755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fec10ad2d01d5%3A0x135761ec721d03ca!2sGhazi%20Elahi%20Bakhsh%20Govt.%20Girls%20Degree%20College!5e0!3m2!1sen!2s!4v1706803324272!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">At the Government Degree College for Women in Kalyal, we witnessed remarkable academic prowess among the girls, complemented by a newfound enthusiasm for activities such as tree plantation. Their dedication and success are truly commendable. Goal 13: Climate Action. Climate change affects every nation profoundly, underscoring the urgent need for collective action to mitigate its irreversible consequences.
                    #GreenMirpur #PledgeForGreen #GoGreen #MuslimHands #Environment #Health #AJK #MirpurAJK #UNFCC #CleanAndGreenPakistan #SDGs4All
                    </p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
{% endblock %}