{% extends "website/main.html" %}
{% load static %}
{% block title %}Islamgarh Welfare Trust{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Islamgarh Welfare Trust</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.0401425268788!2d73.88150597552108!3d33.16057297350572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fc1d5b2621475%3A0x42712ce9f4f1975b!2sBangrilla%20community%20hospital!5e0!3m2!1sen!2s!4v1706803945217!5m2!1sen!2s" width="100" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">Muslim Hands in collaboration with The Islamgarh Welfare inaugurated a new fruit garden initiative, planting 100 fruit-bearing trees at its location. This initiative marks a significant stride towards enhancing local nutrition and environmental sustainability. By cultivating these trees, we aim to promote healthy living and contribute to ecological balance within the community.</p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/GirlsDegreeCollegeKalyal3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}