{% extends "website/main.html" %}
{% load static %}
{% block title %}Jarikass Poultry{% endblock %}

{% block content %}
   
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Jarikass Poultry</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6684.301396941099!2d73.83468021323065!3d33.10512177108686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fc01dd6bf78c5%3A0xf149e35f662db50e!2sJarikass!5e0!3m2!1sen!2s!4v1706802725062!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">Plantation is essential for climate action, biodiversity conservation, soil and water quality improvement, and fostering sustainable development.
                    - So, In collaboration with the Divisional Administration and the Agriculture and Fisheries Department of AJK, Muslim Hands Mirpur resumed its Spring Planting Drive at Wildlife Zoo Lehri Park.</p>\
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Jarikass_Poultry1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Jarikass_Poultry2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Jarikass_Poultry3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Jarikass_Poultry4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Jarikass_Poultry5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Jarikass_Poultry6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}