{% extends "website/main.html" %}
{% load static %}
{% block title %}Lehri Zoo Park{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Lehri Zoo Park</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4453.321529943776!2d73.75506346203827!3d33.14468302283543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391feb92debbd381%3A0x546c9ae5777d5b40!2sHaul%20Rd%2C%20Mirpur!5e0!3m2!1sen!2s!4v1706801476592!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">In collaboration with the Divisional Administration and the Agriculture and Fisheries Department of AJK, Muslim Hands Mirpur has recommenced its Spring Planting Drive at Wildlife Zoo Lehri Park. This initiative underscores our commitment to climate action, biodiversity conservation, soil and water quality improvement, and sustainable development, aiming to create a greener and healthier environment for future generations.</p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Lehri_Zoo_Park_Mirpur1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Lehri_Zoo_Park_Mirpur2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Lehri_Zoo_Park_Mirpur3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Lehri_Zoo_Park_Mirpur4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Lehri_Zoo_Park_Mirpur5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Lehri_Zoo_Park_Mirpur6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>

</body>

{% endblock %}