{% extends "website/main.html" %}
{% load static %}
{% block title %}Muslim Hands Football Academy{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Muslim Hands Football Academy</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.8015037004498!2d73.70839878253355!3d33.140579005221014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fed73dcf0b911%3A0xfd2b023af8a68556!2sMuslim%20Hands%20Football%20Academy%20Mirpur%20Azad%20Kashmir(MHFA%20Mirpur%20AJK)!5e0!3m2!1sen!2s!4v1706854779229!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">The Muslim Hands Football Academy has launched a significant environmental initiative by planting a total of 150 mulberry plants in their established garden. This effort highlights Muslim Hands commitment to community engagement and environmental sustainability. Through this plantation initiative, the academy not only enhances the greenery and aesthetic appeal of their grounds but also contributes positively to the local ecosystem boosting the players stamina. </p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/MuslimHandsFootballAcademyMirpur1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/MuslimHandsFootballAcademyMirpur2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/MuslimHandsFootballAcademyMirpur3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}