{% load static %}
<header>
    <div class="header__back fixed-top">
        <nav class="">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <a href="{% url 'home'%}">
                <img src="{% static 'images/Climate-Action-Logo.png' %}" alt="logo">
            </a>
            <ul class="links">
                <li><a class="active" href="{% url 'home'%}">Home</a></li>
                <li><a class="" href="{% url 'events'%}">Events</a></li>
                <li><a href="{% url 'gardens'%}">Achievements</a></li>
                <li><a href="{% url 'gallery'%}">Gallery</a></li>

                <li class="custom-select">
                    <div class="selected-option">Contact Us</div>
                    <div class="options">
                        <div class="option"><a href="{% url 'contact_us' %}">Contact Us</a></div>
                        <div class="option"><a href="{% url 'about_us' %}">About Us</a></div>
                        <div class="option"><a href="https://docs.google.com/forms/d/1r0xzyGe33x4CpJpcVRLAXkPSvnG5oQ9KmpdqJSbz7wk/viewform?edit_requested=true">Request for Plants</a></div>
                        <div class="option"><a href="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfLIVm1Y_xDEOLvqgWuT0vdwaUmdmKYrF5rDGERLXL3S0N7EQ/viewform?vc=0&c=0&w=1&flr=0&pli=1">Volunteer</a></div>
                    </div>
                </li>
                <ul class="links__3">
                    <!-- <li>
                        <a href=""><img src="images/Symbol.svg" alt=""></a>
                    </li> -->
                    <li>
                        <a class="bg__yell" href="https://muslimhands.org.uk/donate">DONATE</a>
                    </li>
                </ul>
            </ul>
            <ul class="links__2">
                <!-- <li>
                        <a href="https://www.facebook.com/MuslimHandsMRP"><img src="{% static 'images/Symbol.svg' %}" alt=""></a>
                    </li> -->
                <li>
                    <a class="bg__yell" href="https://muslimhands.org.uk/donate">DONATE</a>
                </li>
                <li><a class="_number" href="tel:0115 911 7222">+925827448900</a></li>
            </ul>
        </nav>
    </div>
</header>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selectedOption = document.querySelector('.selected-option');
        var optionsContainer = document.querySelector('.options');

        selectedOption.addEventListener('click', function () {
            optionsContainer.style.display = optionsContainer.style.display === 'none' || optionsContainer.style.display === '' ? 'block' : 'none';
        });

        document.addEventListener('click', function (event) {
            if (!selectedOption.contains(event.target)) {
                optionsContainer.style.display = 'none';
            }
        });
    });
</script>