{% extends "website/main.html" %}
{% load static %}
{% block title %}Neelum{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Neelum</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3342.5069418576954!2d73.82847367551818!3d33.09575397353208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391feb22970b718b%3A0x44243c0b603aedfe!2sMirpur%20University%20of%20Science%20and%20Technology%20Jarikhas%20Campus!5e0!3m2!1sen!2s!4v1707159485734!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">Experience the fruitful legacy of Muslim Hands in Neelum, where we've cultivated a flourishing garden of 2 fruit trees and 1 olive tree. With 400 varieties of fruits and 1000 olive trees, this plantation drive embodies sustainability and nourishment, ensuring a thriving future for the community.</p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Neelum1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Neelum2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Neelum3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Neelum4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Neelum5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/Neelum6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}