{% extends "website/main.html" %}
{% load static %}
{% block title %}Opposite to Kashmir Hilton{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Opposite to Kashmir Hilton</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.4954878005947!2d73.6671123!3d33.1223451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fed904c6a2edd%3A0xb504f24bf7027ca8!2sHilton%20Marriage%20Hall!5e0!3m2!1sen!2s!4v1706771727732!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">As you enter the territory of Azad Kashmir, the road from the Mangla Check Post to Mirpur AJK spans 13 kilometers, much of which remains a plain dirt stretch. We have the plants, the plan, the tools, and the team. So, Muslim Hands team took action and began modifying the dirt patch into a green zone. No country in the world is exempt from the severe impacts of climate change. Global warming is inducing significant, long-lasting changes to our climate system, posing the threat of irreversible consequences if we fail to act now.
                    #GreenMirpur #PledgeForGreen #GoGreen #MuslimHands #Environment #Health #AJK #MirpurAJK #UNFCCC #CleanAndGreenPakistan #SDGs4All #ClimateAction
                    </p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/kashmirhilton1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/kashmirhilton2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/kashmirhilton3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/kashmirhilton4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/kashmirhilton5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/kashmirhilton6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}