{% extends "website/main.html" %}
{% load static %}
{% block title %}Cities Mirpur{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Pilot School</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.3266855098123!2d73.74138257552067!3d33.15304937350884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fec087fe2ecf3%3A0x32ded0425a0a29e8!2sGovt%20Pilot%20High%20School%201!5e0!3m2!1sen!2s!4v1706853622229!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">Muslim Hands planted 50 fruit-bearing trees on the premises of Pilot School. This initiative aims to promote environmental sustainability and provide educational opportunities for students to learn about agriculture and healthy eating habits. By cultivating these trees, students of Pilot School learned about environmental repairment, and this initiative further enhanced their committment to fostering a green environment and enriching their educational experience practically.</p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur2.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur3.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur4.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur5.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur6.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}