{% extends "website/main.html" %}
{% load static %}
{% block title %}Solid Waste Project Site{% endblock %}

{% block content %}
    <main>
        <section class="third__sectop">
            <div class="container citygardens">
                <h1 class="text-center">Solid Waste Project Site</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.3266855098123!2d73.74138257552067!3d33.15304937350884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391fec087fe2ecf3%3A0x32ded0425a0a29e8!2sGovt%20Pilot%20High%20School%201!5e0!3m2!1sen!2s!4v1706853622229!5m2!1sen!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                <p class="text-center fo__24">We came, we planted & we witnessed the love for this noble cause. The dean, the professors, other staff & students, all alike partook in the plantation. Next thing we know they were watching their feet to avoid stepping on young greens. Priceless & Beautiful.
                    #GreenMirpur #PledgeForGreen #GoGreen #muslimhands #Environment #Health #ajk #mirpurajk #unfcc #cleanandgreenpakistan
                    #SDGs4All Goal no. 13: Climate Action
                    There is no country in the world that is not experiencing first-hand the drastic effects of climate change. Global warming is causing long-lasting changes to our climate system, which threatens irreversible consequences if we do not take action now.</p>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur1.jpg'%}" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="overf__2">
                                    <img src="{% static 'images/PilotSchoolMirpur1.jpg'%}" alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </section>
    </main>
    {% endblock %}