<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Location</th>
            <th>Plants Type</th>
            <th>Total Gardens</th>
            <th>Total Plants</th>
        </tr>
        <tr>
            <td>Benazir Medical College</td>
            <td>Fruit & Olive Tree</td>
            <td>2 Fruit + 1 Olive Tree Garden</td>
            <td>400 Fruit & 1000 Olive Trees</td>
        </tr>
    </table>
</body>
</html>
