{% extends "website/main.html" %}
{% load static %}
{% block title %}Neelum{% endblock %}

{% block content %}
<main id="garden">
    <section class="parent__sec">
        <section class="gard2__sect third__sectop bgg__common">
            <h1 class="text-center">Training</h1>
        </section>
        <section class="gard1__sect">
            <div class="container">
                <p class="text-center fo__24">In the year 2020, Muslim Hands Mirpur, a charitable organization,
                    established a thriving Moringa tree garden in Viewpoint Park Mirpur. This garden boasts an
                    impressive collection of over 250 Moringa trees, which have now reached full maturity.
                    In the year 2020, Muslim Hands Mirpur, a charitable organization,
                    established a thriving Moringa tree garden in Viewpoint Park Mirpur. This garden boasts an
                    impressive collection of over 250 Moringa trees, which have now reached full maturity.</p>
            </div>
        </section>
    </section>
    <div class="moringa__packet mtt-50 mb-5">
        <div class="container">
            <img src="{% static 'images/training7.jpg'%}" alt="">
        </div>
    </div>
    <section class="garenbenefit" >
        <h1 class="text-center ">
            Cermony
        </h1>
        <div class="gardenbackgirl position-relative ">
            <div class="left">
                <div class="overf__3">
                    <img src="{% static 'images/training1.jpg'%}" alt="">
                </div>
            </div>
            <div class="right">
                <div class="gardenbackgirl__content">
                    <ul>
                        <li>
                            Muslim Hands is working towards nurturing sustainable development and community empowerment. Our organic fruit projects involves planting organic lemon in our gardens. 
                        </li>
                        <li>
                            We distribute these fruits to local women, who then create delicious organic homemade pickles. This initiative not only offers a wholesome organic product to our community but also gives these women a vital source of income.
                        </li>
                        <li>
                            By teaching them how to produce and sell their own pickles, we're helping them build sustainable livelihoods. This project embodies our commitment to environmental repairment and women's empowerment, making a real, positive difference in our community.                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <section class="third__sectop">
        <div class="container citygardens">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/training2.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/training5.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/training6.jpg'%}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mt-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/training8.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/training9.jpg'%}" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="overf__2">
                                <img src="{% static 'images/training4.jpg'%}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>

</main>
{% endblock %}